.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.gap {
  gap: 12px;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/* Espaciados */
.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-20 {
  margin-top: 20px;
}